.navbar-default {
    background-color: #000;
    border-color: #000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a , .navbar-default .navbar-nav > li > a:focus{
    color: #00ffff;
    background-color: transparent;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 50px;
}
/* end navbar */
/* slide */
	.bg-caption{
		background:#000;
		padding:15px; 
		margin-bottom:15px;
	}
	.bg-caption h3{
		color:#fff;
	}
	.bg-caption h4{
		color:#fff;
	}
	.contain-button{
		margin:0px 50px;
	}
/* end slide */
#section_home{ 
	background:#ccc url("../images/bg_body-01.png") no-repeat; 
	background-position:top center;
	background-size:1200px 1000px;
}
/* list-comment */
.main-comment{
	margin-top:25px;
	height: 369px;
}
.list-comment{
	margin-left:25px;
	margin-bottom:25px;
}
.list-comment p{
	font-size:14px;
	margin-top:8px;
}
.footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.enter_comment{
	background:#e6e6e6;
	border-radius:0px; 
	margin-right:15px;
	padding: 7px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	border:1px solid #fff;
	width: 100%;
}
/*/ Custom, iPhone Retina /*/ 
@media only screen and (min-width : 320px) {
	.container_small{
		margin:auto 0px;
	}
	.box{
		background:#fff;
		padding:15px;
		margin:0px 0px 15px 0px;
		overflow:hidden;
	}
	.box img{
		margin-bottom:15px;
	}
	.carousel-caption {
		left: 20%;
		right: 20%;
		padding-bottom: 30px;
		top: 20px;
		background:url("../images/bg_slider-01.png") no-repeat;
		background-position:top center;
		background-size:100%;
		
	}
	.box_detail{
		background:#fff;
		padding:30px 30px 15px 30px;
	}
	.box_detail img{
		margin:25px 0px;
	}
}
/*/ Extra Small Devices, Phones /*/ 
@media only screen and (max-width : 480px) {
	.carousel-caption {
		left: 20%;
		right: 20%;
		padding-bottom: 30px;
		top: 20px;
		background:url("../images/bg_slider-01.png") no-repeat;
		background-position:top center;
		background-size:100%;
	}
}
/*/ Small Devices, Tablets /*/
@media only screen and (min-width : 768px) {
	.carousel-caption {
		left: 20%;
		right: 20%;
		padding-bottom: 30px;
		top: 50px;
		background:url("../images/bg_slider-01.png") no-repeat;
		background-position:top center;
		background-size:100%;
		padding-top: 20px;
	}
}
/*/ Medium Devices, Desktops /*/
@media only screen and (min-width : 992px) {
}
/*/ Large Devices, Wide Screens /*/
@media only screen and (min-width : 1200px) {
	.container{
		max-width:100%;
		width:100%
	}
	.container_small{
		margin:auto 80px;
	}
	.box_detail{
		background:#fff;
		padding:30px 30px 15px 30px;
	}
	.box_detail img{
		margin:25px 0px;
	}
	.box{
		background:#fff;
		padding:15px;
		position:relative;
	}
	
	.box img{
		margin-bottom:15px;
	}
	.carousel-caption {
		left: 20%;
		right: 20%;
		padding-bottom: 30px;
		top: 90px;
		background:url("../images/bg_slider-01.png") no-repeat;
		background-position:top center;
		background-size:700px;
		padding-top: 40px;
	}
}