<template name="managebooking">
	<div id="wrapper">
   <!--leftside-->
   {{> leftside }}
   <div id="page-wrapper">
      <div class="container-fluid">
         <!-- Page Heading -->
         <div class="row">
            <div class="col-md-12">
               <h1 class="text-center">
                  No more tables.
               </h1>
               <h3 class="text-center">
                  Resize the browser screen to see how the table changes
               </h3>
            </div>
            <div id="no-more-tables">
               <table class="col-md-12 table-bordered table-striped table-condensed cf">
                  <thead class="cf">
                     <tr>
                        <th>Name room</th>
                        <th>Checkin</th>
                        <th class="numeric">Checkout</th>
                        <th class="numeric">User booked</th>
                        <th class="numeric">Status</th>
                     </tr>
                  </thead>
                  <tbody>
                  	{{#each getroombooking}}
                     <tr>
                        <td data-title="Code">{{roomname}}</td>
                        <td data-title="Company">{{checkin}}</td>
                        <td data-title="Price" class="numeric">{{checkout}}</td>
                        <td data-title="Change" class="numeric">{{username}}</td>
                        <td data-title="Change" class="numeric">
                           <a href="#"><button class="btn btn-xs btn-primary" type="button"><i class="fa fa-check"></i>Accept</button></a>
                           <button class="btn btn-xs btn-danger" type="button" id="reject"><i class="fa fa-times"></i>Reject</button>
                        </td>
                     </tr>
                    {{/each}}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</template>