<template name="profile">
		<section class="section-background">
			<div class="container">
				<h2 class="page-header" style="color:white; font-weight:bold;">
				{{#each users}}
					<h3 style="color: #fff">{{profile.username}}</h3>
				{{/each}}
				</h2>
			</div> <!-- /.container -->
		</section> 
		
	<div class="container">
		<div class="col-md-8 col-md-offset-2">

		<div class="modal-content" style="margin-top:30px;">
		<!--<div class="modal-content"> -->
				<div class="modal-header">
					<h3 class="modal-title" id="lineModalLabel">Profile</h3>
				</div>
				<div class="">
					<div class="panel panel-default" style="color: black;">
					{{#each users}}
						<div class="form-group">
							<div class="col-xs-8 col-sm-4 col-lg-4" style="margin-top:30px;">
								<p class = "img-thumbnail">
									{{#if haveImage}}
										<img src="{{baseUrl}}images/{{getProfileImage}}" class="img-responsive center-block" width="250px">
									{{else}}
										<img src="{{baseUrl}}images/sport.png" class="img-responsive center-block" width="250px">
									{{/if}}
								</p>
								<div class="form-group">
									<label class="control-label col-sm-12" for="image">Upload Image</label>
								</div>
								<div class="form-group">
									<input type="file" name="image" id="image" class="your-upload-class form-control input-sm">
								</div>
							</div>

						<div class="panel-body">
						{{#if loginError}}
							<div class="alert alert-danger" role="alert">
								<span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span style="display:inline-block" class="sr-only">Error:</span>
							{{loginErrormsg}}
							</div>
						{{/if}}
							<form data-toggle="validator" accept-charset="UTF-8" role="form">
							{{#if registerError}}
								<div class="alert alert-danger" style="padding:15px;" role="alert">
								  <span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								  <span style="display:inline-block" class="sr-only">Error:</span>
								{{registerErrormsg}}
								</div>
							{{/if}}
								<fieldset>
									<div class="form-group">
										First Name: <input type="text" id="fname" class="form-control" placeholder="First Name" value="{{profile.firstname}}" required>
									</div>
								  <div class="form-group">
										Last Name:<input type="text" class="form-control" id="lname" placeholder="Last Name" value="{{profile.lastname}}" required>
								  </div>
								  <div class="form-group">
										Username:<input type="text" class="form-control" id="uname" placeholder="User Name" value="{{profile.username}}" required>
								  </div>
								  <div class="form-group">
								  {{#each emails}}
										Email:<input type="email" class="form-control" id="email" placeholder="Email" data-error="Bruh, that email address is invalid" value="{{address}}" required>
										{{/each}}
								  </div>
								  <div class="form-group">
										Current Password:<input type="password" class="form-control" id="currentpassword" placeholder="Current Password" required>
								  </div>
								  <div class="form-group">
										<div class="form-group">
										New Password:<input type="password" class="form-control" id="newpassword" placeholder="New Password" value="" required>
								  </div>
								  </div>
								  <div class="form-group">
										Confirm Password:<input type="password" class="form-control" id="conformpassword" placeholder="Confirm Password" value="" required>
								<p id="form-messages"></p>
								  </div>
								  <div class="form-group">
								  	<p id="form-messages"></p>
								  </div>

									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6">
											<div class="form-group">
												<input type="button" value="Update" id="updateProfile" class="btn btn-info btn-block">
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6">
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					{{/each}}
					</div>
				</div>
		<!-- 	</div> -->
		</div>
		</div>
	</div>
	<br/>
</template>
