<Template name="searchroom">
	
	<div class="product"> 
		
		<div class="container">
		
			<div class="product-top">
				<div class="product-one">
				{{#each search_result}}
					<div class="col-md-3">
					
						<div class="product-main simpleCart_shelfItem">
							<a href="/roomDetail/{{_id}}" class="mask"><img class="img-responsive zoom-img" src="/images/{{getImage image}}"/></a>
							<div class="product-bottom">
								<h3 class="text-center;"><a href="/roomDetail/{{_id}}">{{name}}</a></h3>
								<br>
								{{description}}
							</div>
							<div class="srch">
								<button class="btn btn-success" style="border-radius: 0px;width: 147%;">VIEW </button>
							</div>
						</div>
					
					</div>
					{{/each}}
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>	
		
		</div>
	</div>

</Template>
