<template name= "footer">
	<footer>
	
	<br>
	<br>
	<br>
	<div class="container-fluid">
  <div class="row">
  
    
	<div class="col-sm-4">
	<a href="https://www.google.fr/maps/place/Phnom+Penh,+Cambodge/@11.5796669,104.750098,11z/data=!3m1!4b1!4m2!3m1!1s0x3109513dc76a6be3:0x9c010ee85ab525bb">
	<figure class="center"><img class="btmspace-15" src="/images/worldmap.png" alt="">
		<br>
		<br>
          <figcaption><a href="#">Find Us With Google Maps &raquo;</a></figcaption>
        </figure>
	</a>
	</div>
	
    <div class="col-sm-4">
		<address style="color:#ffffff ">
        www.Tostov.com<br>
        That's great! Give us a call or send us an email <br>and we will get back to you as soon as possible!<br>
        Town/City : Phnom Penh<br>
        <br>
        <i class="fa fa-phone pright-10"></i> 097 787 8962<br>
        <i class="fa fa-envelope-o pright-10"></i> <a href="#">sonvisal10@gmail.com</a>
        </address>
	</div>
    <div class="col-sm-4">
		 <form class="clear" method="post" action="#">
          <fieldset>
            <legend style="color:#ffffff ">&nbsp;&nbsp; &nbsp; www.Tostov.com</legend>
           <div class="input-group">
						<input type="email" class="form-control border-radius" placeholder="Email address">
						<span class="input-group-btn">
							<img class="btmspace-15" src="/images/search.png" alt="">
						</span>
			</div><!-- /input-group -->
          </fieldset>
        </form>
		<ul class="social-icon">
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-flickr"></i></a></li>
			<li><a href="#"><i class="fa fa-rss"></i></a></li>
		</ul>
		<br>
       
	</div>
  </div>
  </div>
  <hr>

			<div class="container">
				<div class="row">
					<div class="col-xs-4">
						<div class="text-left">
							&copy; Copyright Group Rock
						</div>
					</div>
					<div class="col-xs-4">
						Theme by <a href="http://www.tostov.com">TOSTOV.COM</a>
					</div>
					<div class="col-xs-4">
						<div class="top">
							<a href="#header">
								<i class="ion-arrow-up-b"></i>
							</a>
						</div>
					</div>
				</div>
			</div>		
	</footer>
</template>