<template name="login">
	<div class="container">
	
		<div class="col-md-4 col-md-offset-3">
		
		<div class="modal-dialog">
			<div class="modal-content" style="margin-top:90px">
				<div class="modal-header">
					<h3 class="modal-title" id="lineModalLabel">Login</h3>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Please Login</h3>
						</div>
						<div class="panel-body">
						{{#if loginError}}
							<div class="alert alert-danger" role="alert">
								<span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span style="display:inline-block" class="sr-only">Error:</span>
							{{loginErrormsg}}
							</div>
						{{/if}}
							<form accept-charset="UTF-8" role="form">
								<fieldset>
									<div class="form-group">
										<input class="form-control" placeholder="E-mail" name="email" type="text">
									</div>
									<div class="form-group">
										<input class="form-control" placeholder="Password" name="password" type="password" value="">
									</div>
									<div class="checkbox">
										<label>
											<input name="remember" type="checkbox" value="Remember Me"> 
											<span style="color:#b29999">Remember Me</span>
										</label>
									</div>
									<!-- <input class="btn btn-lg btn-info col-md-4" type="submit" value="Login"/> -->
									<div class="col-xs-4 col-sm-4">
										<div class="form-group">
											<input type="submit" value="Login" class="btn btn-info btn-block">
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<!-- </div> -->

	</div>

</template>