<template name="register">

	<div class="container">

		<div class="col-md-4 col-md-offset-3">
		
		<div class="modal-dialog">
			<div class="modal-content" style="margin-top:90px">
				<div class="modal-header">
					<h3 class="modal-title" id="lineModalLabel">Register</h3>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Please Register</h3>
						</div>
						
						<div class="panel-body">
						{{#if loginError}}
							<div class="alert alert-danger" role="alert">
								<span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span style="display:inline-block" class="sr-only">Error:</span>
							{{loginErrormsg}}
							</div>
						{{/if}}
							<form data-toggle="validator" accept-charset="UTF-8" role="form">
							{{#if registerError}}
								<div class="alert alert-danger" style="padding:15px;" role="alert">
								  <span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								  <span style="display:inline-block" class="sr-only">Error:</span>
								{{registerErrormsg}}
								</div>
							{{/if}}
								<fieldset>
									<div class="form-group">
										<input type="text" class="form-control" id="firstname" placeholder="First Name" required>
									</div>
								  <div class="form-group">
										<input type="text" class="form-control" id="lastname" placeholder="Last Name" required>
								  </div>
								  <div class="form-group">
										<input type="text" class="form-control" id="username" placeholder="User Name" required>
								  </div>
								  <div class="form-group">
										<input type="email" class="form-control" id="email" placeholder="Email" data-error="Bruh, that email address is invalid" required>
										
								  </div>
								  <div class="form-group">
										<input type="password" class="form-control" id="password" placeholder="Password" required>
								  </div>
								  
									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6">
											<div class="form-group">
												<input type="submit" value="Register" id="btnRegister" class="btn btn-info btn-block">
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6">
											<div class="form-group">
											   <a href="{{pathFor route='login'}}">
											   <input type="submit" value="Login" id="btnLogin" class="btn btn-info btn-block"></a> 
											</div>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

	</div>

</template>