<template name="branddetail">
	<div class="bg_app">
        <div class="container">
            {{>menu}}
        </div>
    </div>
		<div class="container">
				<div class="row">
					<div class="col-xs-12">
							<!-- {{#each alldetailbrand}} -->
						<div class="col-xs-12 col-md-8 col-md-offset-2">
							<b>{{title}}</b><br>
		                    <img src="images/{{getImage image}}" width="80%" height="" class="img-responsive center-block"> <br>
		                    <b>{{description}}</b>
		                </div> 
							<!-- {{/each}} -->
					</div>
				</div>
		</div>	
</template>