<template name="roomDetail">
	
		<span style="padding:30px;"></span>
			<!--map-start-->
			<hr>
		<div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			    <div class="item active col-lg-12">
			    
			      <div class="carousel-caption">
			          <h3>Caption Text</h3>
			      </div>
			    </div>
				<li>
			    <div class="item active col-lg-12">
			      <img src="images/2.jpg" alt="...">
			      <div class="carousel-caption">
			          <h3>Caption Text</h3>
			      </div>
			    </div>					
				</li>
				<li>
			    <div class="item active col-lg-12">
			      <img src="images/3.jpg" alt="...">
			      <div class="carousel-caption">
			          <h3>Caption Text</h3>
			      </div>
			    </div>					
				</li>
				<li>
			    <div class="item active col-lg-12">
			      <img src="images/4.jpg" alt="...">
			      <div class="carousel-caption">
			          <h3>Caption Text</h3>
			      </div>
			    </div>				
				</li>

			</ul>
		</div>
		<div class="clearfix"> </div>

	</div>
	<span style="padding:30px;"></span>
	<br>
	<br>
	
		<div class="container">
			<div class="about-top grid-1">
				<div class="col-md-8 about-left">
			
					<div class="infor-top">
						<div class="col-md-12 infor-left">
						<h2>Apartment Detail</h2>
						</div>	

						<div class="col-md-6 infor-left">
							<a href="" class="mask"><img class="img-responsive zoom-img" src="/images/{{getImage image}}"/></a>
						</div>
						<div class="col-md-6 infor-left">
							
							<p>Apartment Name : {{name}} </p>
							<br>
							<p>Apartment Type : {{type}} </p>
							<br>
							<p>Available Type : {{available_type}} </p>
							<br>
							<p>Description : {{description}} </p>
							<br>
							<p>Location : {{location}} </p>
						</div>
						<div class="clearfix"></div>
					
				</div>
				
					<h4>About this listing</h4>
					<br>
					<p>Fantastic view from to Tonlè Sap river (in front of riverside). 400 meters of Sokha Hotel casino.
					   Apartment of 72 sqm (with 28 sqm terrace), panoramic view on the river. The apartment offers a comfortable king size bed and double sofa bed.</p>
					
					<hr>
					<div class="infor-top">
						<div class="col-md-4 infor-left">
							<h4>The Space</h4>
						</div>
						<div class="col-md-4 infor-left">
							<ul>
								<li><p>Accommodates: 4</p></li>
								<li><p>Bathrooms: 2</p></li>
								<li><p>Bedrooms: 1</p></li>
							</ul>
						</div>
						<div class="col-md-4 infor-left">
							
							<ul>
								<ul>
								
								<li><p>Beds: 2</p></li>
								<li><p>Property type: Apartment</p></li>
								<li><p>Room type: Entire home/apt</p></li>
							</ul>
							</ul>
						</div>
						
						<div class="clearfix"></div>
					
				</div>
				<div class="infor-top">
						<div class="col-md-4 infor-left">
							<h4>Amenities</h4>
						</div>
						<div class="col-md-4 infor-left">
							<ul>
								<li><p>Kitchen</p></li>
								<li><p>Internet</p></li>
								<li><p>Essentials</p></li>
							</ul>
						</div>
						<div class="col-md-4 infor-left">
							
							<ul>
								<ul>
								
								<li><p> Smoking Allowed</p></li>
								<li><p> Elevator in Building</p></li>
								<li><p>Doorman</p></li>
							</ul>
							</ul>
						</div>
						
						<div class="clearfix"></div>
					
				</div>
				<div class="infor-top">
						<div class="col-md-4 infor-left">
							<h4>Prices</h4>
						</div>
						<div class="col-md-4 infor-left">
							<ul>
								<li><p>Extra people: No Charge</p></li>
								<li><p>Weekly discount: 10%</p></li>
								
							</ul>
						</div>
						<div class="col-md-4 infor-left">
							
							<ul>
								<ul>
								<li><p>Monthly discount: 40%</p></li>
								<li><p>Cancellation: Flexible</p></li>
							</ul>
							</ul>
						</div>
						
						<div class="clearfix"></div>
					
				</div>
				<div class="infor-top">
						<div class="col-md-4 infor-left">
							<h4>Description</h4>
						</div>
						<div class="col-md-8 infor-left">
							<p>Fantastic view from to Tonlè Sap river (in front of riverside). 400 meters of Sokha Hotel casino.
Apartment of 72 sqm (with 28 sqm terrace), panoramic view on the river. The apartment offers a comfortable king size bed and double sofa bed.</p>
						</div>
						
						<div class="clearfix"></div>
					
				</div>
					<div class="infor-top">
						<div class="col-md-4 infor-left">
							<h4>House Rules</h4>
						</div>
						<div class="col-md-8 infor-left">
					
							<br>
							<p>Respectful and friendly</p>
						</div>
						
						<div class="clearfix"></div>
					
				</div>
					<div class="infor-top">
						<div class="col-md-4 infor-left">
							<h4>Safety Features</h4>
						</div>
						<div class="col-md-4 infor-left">
							<ul>
								<li><p>Smoke Detector</p></li>
								<li><p>First Aid Kit</p></li>
								
							</ul>
						</div>
						<div class="col-md-4 infor-left">
							
							<ul>
								<ul>
								
								<li><p>Safety Card</p></li>
								<li><p>Fire Extinguisher</p></li>
							</ul>
							</ul>
						</div>
						
						<div class="clearfix"></div>
						
						
					
				</div>
					<div class="">
						<div class="col-md-4 infor-left">
							<h4>Availability</h4>
						</div>
						<div class="col-md-4 infor-left">
							<ul>
								<li><p>1 night minimum stay</p></li>
								
							</ul>
						</div>
						<div class="col-md-4 infor-left">
							
							<ul>
								<ul>
								
								<li><p>View Calendar</p></li>
							
							</ul>
							</ul>
						</div>
						
						<div class="clearfix"></div>
					
				</div>
				<span style="padding:30px;"></span>
				
				
		
				</div>
				<div class="col-md-4 about-left">
					<!-- <div class="sngl-top">
					
					<div class="col-md-12">	
						<div class="flexslider">
							  <ul class="slides">
								<li data-thumb="images/1.jpg">
									<div class="thumb-image"> <img src="images/1.jpg"  class="img-responsive" alt=""/> </div>
								</li>
								<li data-thumb="images/2.jpg">
									 <div class="thumb-image"> <img src="images/2.jpg"  class="img-responsive" alt=""/> </div>
								</li>
								<li data-thumb="images/3.jpg">
								   <div class="thumb-image"> <img src="images/3.jpg"  class="img-responsive" alt=""/> </div>
								</li> 
							  </ul>
						</div>
						 FlexSlider
						<script src="js/imagezoom.js"></script> 
						<script defer src="js/jquery.flexslider.js"></script>
						<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

						<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
						</script>
					</div>	
					
					
					<div class="clearfix"> </div>
				</div>-->
				<span style="padding:30px;"></span>
				<div class="modal-body">
					<div class="panel panel-success">
						<div class="panel-heading">
							<div class="col-md-4">
								<p>60$</p>
							</div>
							<div class="col-md-4">
							</div>
							<div class="col-md-4">
								<p>Per Night</p>
							</div>
							<br>
						</div>
						<div class="panel-body">
							<form accept-charset="UTF-8" role="form">
								<fieldset>
									<div class="form-group">
									 
									 <div class="col-md-12 input-group datetimepicker">
									    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
									    <input class="set-due-date form-control" id="checkin" type="text" placeholder="Check In"/>
									 </div>
									 <br>
									 <div class="col-md-12 input-group datetimepicker">
									    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
									    <input class="set-due-date form-control" id="checkout" type="text" placeholder="Check Out"/>
									 </div>
									 <br>
									 <div class="col-md-12">
										 <div class=" col-md-4">
										 	<button type="button" class="btn btn-success">Guests</button>
										 </div>
										 <div class=" col-md-8">
										  <select class="form-control" id="sel1" >
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										  </select>
										</div>
										<br>
										  
									 </div>
									</div>
									<br>
									<br>
									<div class="form-group">
									<table class="table">
									  <tbody>
										  <tr>
											<td>$60 x 2 nights </td>
											<td>$120</td>
											
										  </tr>
										  <tr>
											<td>Service fee </td>
											<td>$14</td>
											
										  </tr>
										  <tr>
											<td>Total</td>
											<td>$134</td>
											
										  </tr>
										</tbody>
									 </table>
									</div>
									
										<div class="form-group">
											<input type="submit" value="Request to Book" class="col-md-12 btn btn-success">
										</div>
									<br>
									</fieldset>
							</form>
						</div>
					</div>
				</div>
									<div class="modal-body">
					<div class="panel panel-success">
						
						<div class="panel-body">
							<form accept-charset="UTF-8" role="form">
								<fieldset>
									<div class="form-group">
										<input type="submit" value="Save to Wish list" class="col-md-12 btn btn-success">
									</div>
									<div class="form-group">
									<table class="table">
									  <tbody>
										  <tr>
											<td>Email </td>
											<td>Massenger</td>
											<td>... More</td>
										  </tr>
										</tbody>
									 </table>
									 	</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>

					<span style="padding:30px;"></span>
					 <div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6632.248000703498!2d151.265683!3d-33.7832959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12abc7edcbeb07%3A0x5017d681632bfc0!2sManly+Vale+NSW+2093%2C+Australia!5e0!3m2!1sen!2sin!4v1433329298259" style="border:0; height:300px;"></iframe>
				</div>
				<br>
				<div class="col-md-12">
					<div class="col-md-12">
						<a href="" class="mask"><img class="img-responsive zoom-img" src="/images/{{getImage image}}"/></a>
					</div>

				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						<a href="" class="mask"><img class="img-responsive zoom-img" src="/images/{{getImage image}}"/></a>

					</div>
					<div class="col-md-6">
						<a href="" class="mask"><img class="img-responsive zoom-img" src="/images/{{getImage image}}"/></a>
					</div>
				</div>
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
		<span style="padding:30px;"></span>
		<br>
</template>