.cosmetic .container .row .img{
	border:0px solid #fff;
	background:transparent;			
	margin:20px 0px;
}
p.cosm{
	padding: 55px 0px;
	font-weight: 700;
}
.cosme{
	background:url("../images/bg_center-01.png") repeat-y;
	background-position:center center;
	width:900px;	
	margin-top:50px;
}
.bac-images{
    background: transparent url("../images/bg_center-01.png") repeat-x scroll center center;
    height: 45px;
    margin:65px 0px;
    background-size: 100% auto;
}
