#header{
	height:60px;
	background:red;
	background-size:100% 100%;						
	padding:5px 0px;
	border-bottom:2px solid #fff;		
	box-shadow:1px 1px 5px #ccc;
	z-index:9999999999;
}
#header .shop{
	padding:5px 0px;
}
#header .search{
	padding:5px 0px;
}
#header .login{
	padding:5px 0px;
	font-size:25px;
	color:#000;
	text-decoration:none;			
}
.bg_app{
	/*background:url("../images/bg_app-01.png") no-repeat;*/
	background-position:bottom center;
	background-size:100% 100%;
	margin:15px 0px;
}
.open > .dropdown-menu {
    display: block;
    margin-top: 53px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 71px 0px 0px;
    font-size: 14px;
    list-style: outside none none;
    background: transparent;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.176);
    background-clip: padding-box;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-menu > li > a {
    display: block;
    padding: 5px 15px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

/* cosmetic */
.cosmetic {
	background:url("../images/bg_center-01.png") repeat-y;
	background-position:center center;
	height:829px;	
	margin-top:1px;
}
.cosmetic .thumbnail{
	border:0px solid #fff;
	background:transparent;			
	margin:50px 0px;
}
#footer{
    height:60px;
    background:red;
    background-size:100% 100%;                      
    padding:5px 0px;
    border-bottom:2px solid #fff;       
    box-shadow:1px 1px 5px #ccc;
    z-index:9999999999;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.bg-app-login{
background: url("../images/bg-login.png") no-repeat center top;
}
.space-img-login{
    margin-bottom: 30px;
}
.btn_login{
    display: inline-block;
    padding: 5px 30px;
    margin-top: 20px;
    font-size:1.2em;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    border: 0px;
    border-radius: 0px;
    font-family: Arial,Helvetica,sans-serif;
    color: #FFF;
    background: #ee0000;
  }
  #style_login {
    border: 1px solid black;
    border-radius: 0;
}
.bg-login-form{
    height: 300px;
    background: #fff;
    margin-top:50px;
    margin-bottom:50px;
}
.space-top2{
  padding-top: 30px;
}